@use 'variables';

@mixin landscape {
    @media (min-width: 768px){
      @content;
    }
  }
  
@mixin medium-screen {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin wide-screen {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin item-display{
  border: 2px double lightgray;
	align-items: center;
	grid-column: 3/4;

	display: grid;
	grid-auto-rows: auto;
	position: relative;

	&__item{
		cursor: pointer;
	}

	&:after{
		position: absolute;
		top:-1.2rem;
		left: 0.2rem;
		color: palegoldenrod;
		font-family: variables.$handwriting;
		font-size: 1.5rem;
	}
}

@mixin generic-display{
  	display: grid;
	grid-template-columns: 0.1fr 1fr 0.1fr;
  	grid-auto-rows: 1.5rem;
	color: white;
	grid-column: 4/5;
	position: relative;
	padding-top: 1rem;
	

	&:after{
		position: absolute;
		top:-0.85rem;
		left: 7%;
		color: palegoldenrod;
		font-family: variables.$handwriting;
		font-size: 1.5rem;
	}
}