/* 
==============================================
CONTENT:	Dark Moon: Enemy Space
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Reset
1. STYLES

==============================================
*/

/* 0. Reset ================================= */
@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. STYLES ================================= */

*, *::before, *::after {
	box-sizing: border-box;
}

body{
	font-family: variables.$body-text;
	position: relative;
}

a {
	text-decoration: none;
	color: unset;
}

.content-grid{
	min-width: 334px;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
}

.title-screen{
	background: url(../../src/img/title_image.jpg);
	background-position: center;
	background-size: cover;
	padding: 0 5% 50% 0;
	// display: grid;
	display: none;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;

	&__title{
		grid-column: 1/-1;
		text-align: right;
		margin-top: 2rem;
		font-size: 3rem;
		font-family: variables.$title;
		color: white;
		text-transform: uppercase;
	}

	&__subtitle{
		text-align: right;
		color: palevioletred;
		font-size: 2rem;
		font-family: variables.$handwriting;
		margin-bottom: 1.5rem;
	}

	&__options{
		margin-left:auto;
		text-align: right;
		color: white;
		text-transform: uppercase;
		font-size: 1.25rem;
	}

	&__item{
		margin: 0.5rem;
		padding: 0.5rem;
		cursor: pointer;
		transition: color 150ms;

		&:hover{
			color: slategrey;
		}
	}

	&__footer{
		grid-column: 1/-1;
		position: absolute;
		color: lightgray;
		bottom: 1%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		right: 5%;
	}
}

.game-display{
	background: url(../../src/img/game_mat.jpg);
	background-position: top;
	background-size: cover;
	// padding-bottom: 50%;
	display: grid;
	// display: none;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;

	&__title{
		margin-top: 1rem;
		text-align: center;
		font-size: 2rem;
		color: white;
		font-family: variables.$title;
		text-transform: uppercase;
	}

	&__subtitle{
		font-size: 2rem;
		color: palevioletred;
		font-family: variables.$handwriting;
		text-align: center;
	}
}