/* 
==============================================
CONTENT:	Dark Moon: Enemy Space
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Reset
1. STYLES

==============================================
*/

/* 0. Reset ================================= */
@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. STYLES ================================= */

*, *::before, *::after {
	box-sizing: border-box;
}

body{
	font-family: variables.$body-text;
	position: relative;
	background:slategray;
}

a {
	text-decoration: none;
	color: unset;
}

.content-grid{
	min-width: 334px;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
}

.title-screen{
	background: url("../../src/img/title_image.jpg");
	background-position: center;
	background-size: cover;
	padding: 0 5% 60% 0;
	display: grid;
	// display: none;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;

	&__title{
		grid-column: 1/-1;
		text-align: right;
		margin-top: 2rem;
		font-size: 3rem;
		font-family: variables.$title;
		color: white;
		text-transform: uppercase;
	}

	&__subtitle{
		text-align: right;
		color: palevioletred;
		font-size: 2rem;
		font-family: variables.$handwriting;
		margin-bottom: 1.5rem;
	}

	&__options{
		margin-left:auto;
		text-align: right;
		color: white;
		text-transform: uppercase;
		font-size: 1.25rem;
	}

	&__item{
		margin: 0.5rem;
		padding: 0.5rem;
		cursor: pointer;
		transition: color 150ms;

		&:hover{
			color: slategrey;
		}

		&_continue{
			display: none;
		}
	}

	&__footer{
		grid-column: 1/-1;
		position: absolute;
		color: lightgray;
		bottom: 1%;
		right: 5%;
	}
}

.game-display{
	background: url("../../src/img/game_mat.jpg");
	// background: url("../../src/img/dock.jpg");
	background-position: top;
	background-size: cover;
	padding-bottom: 55%;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;

	&__title{
		margin-top: 1rem;
		text-align: center;
		font-size: 2rem;
		color: white;
		font-family: variables.$title;
		text-transform: uppercase;
		cursor: pointer;
	}

	&__subtitle{
		font-size: 2rem;
		color: palevioletred;
		font-family: variables.$handwriting;
		text-align: center;
		cursor: pointer;
		margin-bottom: 0.5rem;
	}

	&__footer{
		grid-column: 1/-1;
		position: absolute;
		color: lightgray;
		bottom: 1%;
		right: 5%;
	}
}

.message-bar{
	width: 100%;
	margin-bottom: 0.75rem;
	padding: 0 2%;
	line-height: 1.2;

	&__message{
		text-align:center;
		margin-bottom: 0.25rem;
		font-size: 0.8rem;

		&_main{
			height: 1rem;
			color:white;
		}

		&_secondary{
			height: 1rem;
			color:gray;
		}
	}
}

.player-mat{
	display: grid;
	grid-template-columns: 0.25fr 1fr 4fr 1fr 1.5fr 1fr 1fr 0.25fr;
	grid-auto-rows: auto;
	padding-top: 0.5rem;
	
	&_opponent{
		grid-template-columns: 0.2fr 1fr 4fr 1fr 1.5fr;
		margin-top: 2.5rem;
	}
}

.ship-display{
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: 2/3;
	align-self: center;
	margin-right: 7.5%;

	&__image{
		height: 6.5rem;
		width: 6.5rem;
		border-radius: 5%;
		margin-bottom: 0.5rem;
		
		&_opponent{
		background: url("../../src/img/ships/fighter.png");
		background-position: center;
		background-size: cover;
		}

		&_human{
		background: url("../../src/img/ships/playership.png");
		background-position: center;
		background-size: cover;
		}
	}

	&__name{
		color:white;
		text-align: center;
		font-size: 0.8rem;
		text-transform: uppercase;

		&_human{
			cursor: pointer;
		}
	}
}

.components{
	@include mixins.item-display;
	grid-template-columns: repeat( auto-fit, minmax(2.9rem, 1fr) );
	gap: 3.3%;
	padding: 3.3%;
	place-items: center center;
	position: relative;

	&__item{
		height: 4.5rem;
		width: 3rem;

		&:hover{
			transform: scale(2.75);
			z-index: 1;
		}
	}

	&:after{
		content: "Components";
	}
}

.missile-dialog{
	position: absolute;
	background: rgba(255, 255, 255, 0.85);
	width: 90%;
	text-align: center;
	top: 1rem;
	padding: 0.75rem;
	z-index:2;

	&__number-buttons, &__type-buttons{
		display: flex;
		width: 100%;
		justify-content: space-around;
		margin-top: 0.5rem;
	}

	&__number-button{
		background: slategray;
		color: white;
		height: 2rem;
		width: 2rem;
		line-height: 2;
		border-radius: 5%;
		cursor: pointer;
	}

	&__missile-type{
		background: slategray;
		color: white;
		height: 2rem;
		width: 5rem;
		line-height: 2;
		border-radius: 5%;
		cursor: pointer;
	}

}

.consumables{
	display: flex;
	flex-direction: column;
	border: 2px solid slategray;
	border-left: none;
	color: white;
	font-size: 0.75rem;
	grid-column: 4/5;
	position: relative;
	padding-top: 0.5rem;

	&__item{
		margin: 0.25rem;
		line-height: 1.5;
	}

	&:after{
		content: "Consumables";
		position: absolute;
		top:-0.85rem;
		left: 0rem;
		color: palegoldenrod;
		font-family: variables.$handwriting;
		font-size: 1rem;
	}
}

.crew{
	@include mixins.generic-display;
	grid-column: 5/6;

	&__pilot, &__gunner, &__engineer{
		font-size: 0.8rem;
		grid-column: 1/2;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
		grid-column: 2/3;
	}

	&__pilot-level, &__gunner-level, &__engineer-level{
		color: palevioletred;
		font-weight: bold;
		font-size: 0.8rem;
	}

	&:after{
		content: "Crew";
	}

}

.special-actions{
	display: flex;
	flex-direction: column;
	grid-column: 6/7;
	position: relative;
	padding-top: 2.25rem;

	&__button{
		background: slategray;
		color: white;
		text-align: center;
		padding: 0.25rem;
		font-size: 0.75rem;
		margin: 0.25rem 0;
		border-radius: 9999px;
	}

	&:after{
		content: "Special Actions";
		position: absolute;
		top:0.5rem;
		left: 50%;
  		transform: translate(-50%, -50%);
		color: palegoldenrod;
		font-family: variables.$handwriting;
		font-size: 1.5rem;
	}
}

.last-column{
	display: flex;
	flex-direction: column;
}

.complete{
	background: palevioletred;
	color: white;
	text-align: center;
	line-height: 1.1;
	padding: 0.5rem 0.25rem;
	font-size: 0.7rem;
	margin: -0.5rem 0 0.75rem 7.5%;
	max-width: 4.1rem;
	border-radius: 9999px;
	text-transform: uppercase;
}

.xp{
	display:flex;
	flex-direction:column;
	border: 2px solid palegoldenrod;
	border-radius: 50%;
	height: 3.75rem;
	padding: 0.25rem;
	width: 4rem;
	justify-content: space-between;
	grid-column: 7/8;
	margin-left: 7.5%;

	&__heading{
		color: palevioletred;
		font-size: 1.1rem;
		border-radius: 5%;
		text-align: center;
		margin: 0.25rem 0;
	}

	&__value{
		color: white;
		font-weight: bold;
		text-align: center;
		font-size: 1.4rem;
	}
}

.spacedock{
	grid-template-columns: 0.25fr 1fr 6.6fr 1fr 1.5fr;
	margin-top: 2.5rem;
	display: none;
	// display: grid;
	grid-auto-rows: auto;
	padding: 0.5rem 0 2%;
}

.storage{
	@include mixins.item-display;

	grid-template-columns: repeat( auto-fit, minmax(4.9rem, 1fr) );
	gap: 3.3%;
	padding: 3.3%;

	&__item{
		height: 7rem;
		width: 5rem;
	}

	&:after{
		content: "Storage Bay";
	}
}

.credits{
	@include mixins.generic-display;
	grid-column: 4/5;
	padding-left: 15%;
	margin: 0 15%;
	

	&:after{
		content: "Credits";
	}
}

.capacity{
	@include mixins.generic-display;
	grid-column: 5/6;
	padding-left: 25%;
	

	&:after{
		content: "Capacity";
	}
}

// ----- UTILITY -----

.hidden{
	display: none;
}

.clickable{
	cursor: pointer;
}

.red{
	color: palevioletred;
}

.focus{
	border: 2px solid palegoldenrod;
	border-radius: 5%;
}